[package]
name = "calculator"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
borsh = { version = "1.6.0", features = ["derive"] }
borsh-derive = "1.6.0"
solana-program = "3.0.0"
